In [17]:
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from config_will import weather_api_key

In [18]:
uber_csv = pd.read_csv("Resources/uber.csv")

uber_df = pd.DataFrame(uber_csv)

uber_df.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [19]:
uber_df.rename(columns = {'Unnamed: 0':'ID', 'key':'N/A', 'fare_amount':'Charge', "pickup_datetime":"Pickup Time",  "pickup_longitude": "Pickup Lon", "pickup_latitude":"Pickup Lat",  "dropoff_longitude": "Dropoff Lon", "dropoff_latitude": "Dropoff Lat", "passenger_count": "Passenger Count"}, inplace = True)

uber_df.head()

,ID,N/A,Charge,Pickup Time,Pickup Lon,Pickup Lat,Dropoff Lon,Dropoff Lat,Passenger Count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [20]:
uber_df3 = uber_df.sample(n=5)
uber_df3

,ID,N/A,Charge,Pickup Time,Pickup Lon,Pickup Lat,Dropoff Lon,Dropoff Lat,Passenger Count
195063,20132191,2013-05-19 00:48:00.000000154,11.0,2013-05-19 00:48:00 UTC,-73.975230,40.751822,-73.978000,40.725327,1
53687,51954756,2014-06-19 18:45:46.0000003,3.5,2014-06-19 18:45:46 UTC,-73.974295,40.778620,-73.977006,40.774740,1
114992,149800,2010-04-27 21:40:54.0000003,10.9,2010-04-27 21:40:54 UTC,-73.989819,40.729577,-73.953298,40.772547,1
31255,5758919,2009-06-23 08:41:05.0000003,13.7,2009-06-23 08:41:05 UTC,-73.987299,40.768614,-74.007379,40.727838,1
159420,22846831,2011-01-31 11:08:00.00000089,39.7,2011-01-31 11:08:00 UTC,-73.790077,40.643858,-73.939735,40.751470,1

In [27]:
uber_df3['Date Formatted'] = (pd.to_datetime(uber_df3['Pickup Time'], yearfirst=True, utc=True)) 
x = (uber_df3["Date Formatted"] - pd.Timestamp("1970-01-01", tz="UTC")) // pd.Timedelta('1s') 
uber_df3

,ID,N/A,Charge,Pickup Time,Pickup Lon,Pickup Lat,Dropoff Lon,Dropoff Lat,Passenger Count,Date Formatted
195063,20132191,2013-05-19 00:48:00.000000154,11.0,2013-05-19 00:48:00 UTC,-73.975230,40.751822,-73.978000,40.725327,1,2013-05-19 00:48:00+00:00
53687,51954756,2014-06-19 18:45:46.0000003,3.5,2014-06-19 18:45:46 UTC,-73.974295,40.778620,-73.977006,40.774740,1,2014-06-19 18:45:46+00:00
114992,149800,2010-04-27 21:40:54.0000003,10.9,2010-04-27 21:40:54 UTC,-73.989819,40.729577,-73.953298,40.772547,1,2010-04-27 21:40:54+00:00
31255,5758919,2009-06-23 08:41:05.0000003,13.7,2009-06-23 08:41:05 UTC,-73.987299,40.768614,-74.007379,40.727838,1,2009-06-23 08:41:05+00:00
159420,22846831,2011-01-31 11:08:00.00000089,39.7,2011-01-31 11:08:00 UTC,-73.790077,40.643858,-73.939735,40.751470,1,2011-01-31 11:08:00+00:00

In [30]:
uber_df3['Date Formatted Final'] = (uber_df3["Date Formatted"] - pd.Timestamp("1970-01-01", tz="UTC")) // pd.Timedelta('1s')
uber_df3

,ID,N/A,Charge,Pickup Time,Pickup Lon,Pickup Lat,Dropoff Lon,Dropoff Lat,Passenger Count,Date Formatted,Date Formatted Final
195063,20132191,2013-05-19 00:48:00.000000154,11.0,2013-05-19 00:48:00 UTC,-73.975230,40.751822,-73.978000,40.725327,1,2013-05-19 00:48:00+00:00,1368924480
53687,51954756,2014-06-19 18:45:46.0000003,3.5,2014-06-19 18:45:46 UTC,-73.974295,40.778620,-73.977006,40.774740,1,2014-06-19 18:45:46+00:00,1403203546
114992,149800,2010-04-27 21:40:54.0000003,10.9,2010-04-27 21:40:54 UTC,-73.989819,40.729577,-73.953298,40.772547,1,2010-04-27 21:40:54+00:00,1272404454
31255,5758919,2009-06-23 08:41:05.0000003,13.7,2009-06-23 08:41:05 UTC,-73.987299,40.768614,-74.007379,40.727838,1,2009-06-23 08:41:05+00:00,1245746465
159420,22846831,2011-01-31 11:08:00.00000089,39.7,2011-01-31 11:08:00 UTC,-73.790077,40.643858,-73.939735,40.751470,1,2011-01-31 11:08:00+00:00,1296472080

In [32]:
clean_df = uber_df3[["ID", "Charge", "Pickup Lon", "Pickup Lat", "Dropoff Lon", "Dropoff Lat", "Passenger Count", "Date Formatted Final" ]]
clean_df

,ID,Charge,Pickup Lon,Pickup Lat,Dropoff Lon,Dropoff Lat,Passenger Count,Date Formatted Final
195063,20132191,11.0,-73.975230,40.751822,-73.978000,40.725327,1,1368924480
53687,51954756,3.5,-73.974295,40.778620,-73.977006,40.774740,1,1403203546
114992,149800,10.9,-73.989819,40.729577,-73.953298,40.772547,1,1272404454
31255,5758919,13.7,-73.987299,40.768614,-74.007379,40.727838,1,1245746465
159420,22846831,39.7,-73.790077,40.643858,-73.939735,40.751470,1,1296472080