In [8]:
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from config import weather_api_key
import time

In [9]:
# Reading the csv and converting to dataframe
uber_csv = pd.read_csv("Resources/uber.csv")

uber_df = pd.DataFrame(uber_csv)

uber_df.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [10]:
# Making the headers easier to call
uber_df.rename(columns = {'Unnamed: 0':'ID', 'key':'N/A', 'fare_amount':'Charge', "pickup_datetime":"Pickup Time",  "pickup_longitude": "Pickup Lon", "pickup_latitude":"Pickup Lat",  
                          "dropoff_longitude": "Dropoff Lon", "dropoff_latitude": "Dropoff Lat", "passenger_count": "Passenger Count"}, inplace = True)

uber_df.head()

,ID,N/A,Charge,Pickup Time,Pickup Lon,Pickup Lat,Dropoff Lon,Dropoff Lat,Passenger Count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [11]:
# Getting a workable sample from the data
sample_df = uber_df.sample(500)
sample_df.head()

,ID,N/A,Charge,Pickup Time,Pickup Lon,Pickup Lat,Dropoff Lon,Dropoff Lat,Passenger Count
181810,12920928,2013-11-29 14:05:00.00000039,12.5,2013-11-29 14:05:00 UTC,-73.997895,40.725792,-73.980750,40.756067,6
116784,43571266,2012-08-04 05:41:00.00000033,14.9,2012-08-04 05:41:00 UTC,-74.003900,40.742212,-73.957195,40.801967,1
92203,51642764,2015-04-04 11:26:08.0000006,11.0,2015-04-04 11:26:08 UTC,-73.979057,40.761322,-73.984177,40.742039,2
137827,44285068,2009-11-07 13:12:00.00000091,7.3,2009-11-07 13:12:00 UTC,-73.981069,40.780008,-73.971944,40.766030,1
88043,30366330,2012-02-11 20:54:32.0000001,14.5,2012-02-11 20:54:32 UTC,-73.976968,40.782719,-74.001621,40.739404,2

In [12]:
# Making the base url to call the weather history
url = f"https://history.openweathermap.org/data/2.5/history/city?"

uber_data = []

In [50]:

# Looping through the data for info
for row in sample_df.iteritems():

   
    #Gathering the latitude, longitude, and pickup time
        lat = sample_df["Pickup Lat"]
        lon = sample_df["Pickup Lon"]
        start = sample_df["Pickup Time"]
        
        print(lat)
        
        i += 1

KeyError: 0

In [ ]:
 try:
            # Making the query for the search using the varibles
            query = f"lat={lat}&lon={lon}&type=hour&start={start}&cnt=1&appid={weather_api_key}"

            # Getting the info from the api
            response = requests.get(f"{url}{query}").json()


            temp = response["main"]["temp"]
            rain = response["weather"]["main"]

            uber_data.append({"Lat": lat, 
                            "Lon": lon,
                            "Pickup Time": start,
                            "Temp": temp,
                            "Rain": rain,
            })

        except:
            print("Data not found. Skipping...")
            pass